
@font-face{
    font-family: 'Roboto Condensed';
    src: url(../fonts/RobotoCondensed-Regular.ttf) format("truetype");
}

@font-face{
    font-family: 'Oswald';
    src: url(../fonts/Oswald-Regular.ttf) format("truetype");
}

/* Base style */
body{
    font: 1em/1.5 'Roboto Condensed', Helvetica, Arial, sans-serif;
	color: #463535;
    margin: 0;
    box-sizing: border-box;
}

h2{
    font: 2em Oswald, Arial, sans-serif;
    font-weight: 900;
    color: rgb(73, 73, 73);
    text-align: center;
}

h3{
    font: 1.5em/1.5 'Roboto Condensed', Helvetica, Arial, sans-serif;
    font-weight:700;
}

.section{
    text-align: center;
}

/* Pseudo-classes */
a:link{
    color:mediumslateblue;
}

a:visited{
    color:steelblue;
}

a:hover {
    color: navy;
}

a:active {
    color: crimson;
}

/*----- Main styles->main-header<- -----*/
.main-header{
    margin-top: 0px;
    text-align: center;
    background: center/cover no-repeat url('../images/cmjpic.jpg');
}

.Title-Name{
    color:white;
    font-size: 80px;
    margin-top: 60px;
    margin-bottom: 100px;
}

.main-nav ul{
    text-align: end;
    font-family: 'Roboto Condensed',Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0;
    padding-top: 10px;
    font-size: 25px;
}

.main-nav ul li{
    display: inline;
}

.main-nav ul li a{
    text-decoration: none;
    padding: 0 10px;
}

.main-footer{
    background-color:darkgray;
    text-align: center;
    padding: 10px;
    margin:auto
}

/*----- Main styles->Education<- -----*/

.ed-usc,
.ed-nl,
.ed-ph{
    width: 33%;
}

.ed-usc{
    float: left;
}

.ed-nl{
    float: left;
}

.ed-ph{
    float: left;
}

/*----- Main styles->Experience<- -----*/

/*----- Main styles->Projects<- -----*/
.project-section{
    float: left;
    width: 25%;
}

.portfolio-photo{
    width: 300px;
    height: 300px;
}

.shoppingweb-photo{
    width: 300px;
    height: 300px;
}

.coffeeblog-photo{
    width: 300px;
    height: 300px;
}

.photographic-photo{
    width: 300px;
    height: 300px;
}

/*----- Main styles->Skills<- -----*/

/*----- Main styles->Languages<- -----*/

/*----- Main styles->Hobby<- -----*/

/* Layout styles */

h1{ 
    float: left;
    width: 40%;
}

.container-intro{
    width: 40%;
    float: right;
}

.main-header{
    height: 100vh;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;

}

/*-- Float clearfix --*/
.group:after{
    content: "";
    display: table;
    clear:both;
}