
@font-face{
    font-family: 'Roboto Condensed';
    src: url(../fonts/RobotoCondensed-Regular.ttf) format("truetype");
}

@font-face{
    font-family: 'Oswald';
    src: url(../fonts/Oswald-Regular.ttf) format("truetype");
}

* {
    box-sizing: border-box;
}
             


/* Base style */
body{
    font: 1em/1.5 'Roboto Condensed', Helvetica, Arial, sans-serif;
	color: #463535;
    margin: 0;
    box-sizing: border-box;
}

h2{
    font: 2em Oswald, Arial, sans-serif;
    font-weight: 900;
    color: rgb(73, 73, 73);
    text-align: center;
}

h3{
    font: 1.5em/1.5 'Roboto Condensed', Helvetica, Arial, sans-serif;
    font-weight:700;
}

.section{
    text-align: center;
}

/* Pseudo-classes */
a:link{
    color:mediumslateblue;
}

a:visited{
    color:steelblue;
}

a:hover {
    color: navy;
}

a:active {
    color: crimson;
}

/*----- Main styles->main-header<- -----*/
.main-header{
    margin-top: 0px;
}

.main-nav{
    background-color: white;
    height: 10vh;
} 

.main-nav ul{
    text-align: end;
    font-family: 'Roboto Condensed',Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 10px;
    font-size: 25px;
}

.main-nav ul li{
    display: inline;
}

.main-nav ul li a{
    text-decoration: none;
    padding: 0 10px;
}

.logo-name{
    font-size: 25px;
    float: left;
    padding: 10px 10px 10px 30px;
    margin: 0px;
}

/*----- Main styles->home-page<- -----*/
.home-page{
    background-color:#8EE4AF ;/* #8EE4AF */ /* #2E9454 */ /* #61CA88 */
    background-image: url('../images/profile-white.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 70%;
}

.brief-intro{
    text-align: center;
}

.Title-Name{
    text-align: center;
    color:white;
    font-size: 80px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.home-page-readmore{
    text-align: right;
}

.container-readmore{
    float: right;
    background-color: #05386B;
    border-radius: 30px;
}
.container-readmore a{
    padding: 5px 20px;
    text-decoration: none;
    color: white;
    display: block;
}



/* ----- Main styles->Education<- -----

.introduction{
    text-align: center;
    padding: 0px 100px;
} */

/*----- Main styles->Education<- -----*/

.ed-usc,
.ed-nl,
.ed-ph{
    width: 33%;
}

.ed-usc{
    float: left;
}

.ed-nl{
    float: left;
}

.ed-ph{
    float: left;
}

/*----- Main styles->Experience<- -----*/

/*----- Main styles->Projects<- -----*/
.project-section{
    float: left;
    width: 25%;
}

.portfolio-photo,
.shoppingweb-photo,
.coffeeblog-photo,
.photographic-photo{
    width: 300px;
    height: 300px;
}

/*----- Main styles->Skills & Languages<- -----*/
.skill-section,
.language-section{
    width: 50%;
}
    /*----- Main styles->Skills<- -----*/
    .skill-section{
        float: left;
    }
    /*----- Main styles->Languages<- -----*/
    .language-section{
        float: right;
    }
/*----- Main styles->Hobby<- -----*/

/*----- Main styles->main-footer<- -----*/

.main-footer{
    background-color:darkgray;
    text-align: center;
    padding: 10px;
    margin:auto
}

/* Layout styles */
.home-page{
    height: 90vh;
}
.title-discription{ 
    padding: 30px;
    float: left;
    width: 50%;
}

.main-header{
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;

}

/*-- Float clearfix --*/
.group:after{
    content: "";
    display: table;
    clear:both;
}