
@font-face{
    font-family: 'Roboto Condensed';
    src: url(../fonts/RobotoCondensed-Regular.ttf) format("truetype");
}

@font-face{
    font-family: 'Oswald';
    src: url(../fonts/Oswald-Regular.ttf) format("truetype");
}

* {
    box-sizing: border-box;
}
             


/* Base style */
body{
    font: 1em/1.5 'Roboto Condensed', Helvetica, Arial, sans-serif;
	color: #463535;
    margin: 0;
    box-sizing: border-box;
}

h2{
    font: 2em Oswald, Arial, sans-serif;
    font-weight: 900;
    color: rgb(73, 73, 73);
    text-align: center;
}

h3{
    font: 1.5em/1.5 'Roboto Condensed', Helvetica, Arial, sans-serif;
    font-weight:700;
}

a{
    text-decoration: none;
}

.section{
    margin: 50px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 7px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* Pseudo-classes */
a:link{
    color:mediumslateblue;
}

a:visited{
    color:steelblue;
}

a:hover {
    color: navy;
}

a:active {
    color: crimson;
}

/*----- Main styles->main-header<- -----*/
.main-header{
    margin-top: 0px;
    text-align: center;
    background-color: white;
}

.logo-name,
.main-nav ul,
.main-nav ul li{
    display: inline-block;
}

.logo-name{
    font-family: 'Roboto Condensed',Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 15px;
    padding: 10px;
    font-size: 25px;
    float: left;
}

.main-nav ul{
    font-family: 'Roboto Condensed',Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 10px;
    font-size: 25px;
    float: right;
}

.main-nav ul li a{
    padding: 0 10px;
}

/*----- Main styles->home-page<- -----*/
.home-page{
    background-color:#8EE4AF ;/* #8EE4AF */ /* #2E9454 */ /* #61CA88 */
    background-image: url('../images/profile-white.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 70%;
}

.brief-intro{
    text-align: center;
}

.Title-Name{
    text-align: center;
    color:white;
    font-size: 80px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.home-page-readmore{
    text-align: right;
}

.container-readmore,
.container-viewPicture{
    float: right;
    background-color: #05386B;
    border-radius: 30px;
}
.container-readmore a,
.container-viewPicture a{
    padding: 5px 20px;
    text-decoration: none;
    color: white;
    display: block;
}


/* ----- Main styles->Introduction<- ----- */

.container-intro{
    margin: 50px;
    height: 50vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 7px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.introduction{
    text-align: center;
    padding: 0px 100px;
} 

/*----- Main styles->Education<- -----*/

.education h3{
    margin-bottom: 20px;
    margin-top: 20px;
}

.ed-usc,
.ed-nl,
.ed-ph{
    background-color: lightgray;
    height:300px;
    margin: 5px;
    width: 32%;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 7px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.usc,
.itm,
.hbo-ict{
    font-style:oblique;
}

/*----- Main styles->Experience<- -----*/
.exp-section{
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    background-color: #EDF5E1 ;
}

.expPhilippines,
.expNetherlands{
    display: inline-block;
    width: 50%;
    padding: 10px;
}

.expNetherlands{
    float: right;
}
.expPhilippines{
    float: left;
}

.world-explorer-container p{
    padding: 10px;
}

.dutchpicture{
    width: 100%;
}

.VEGP{
    padding: 10px;
}

.VEGP p{
    padding: 0px 100px;
}

/*----- Main styles->Projects<- -----*/
.project-section{
    float: left;
    width: 25%;
}

.portfolio-photo,
.shoppingweb-photo,
.coffeeblog-photo,
.photographic-photo{
    width: 300px;
    height: 300px;
}

/*----- Main styles->Skills & Languages<- -----*/
.skill-section,
.language-section{
    width: 30%;
}
    /*----- Main styles->Skills<- -----*/
    .skill-section{
        float: left;
    }
    /*----- Main styles->Languages<- -----*/
    .language-section{
        float: right;
    }
/*----- Main styles->Hobby<- -----*/

/*----- Main styles->main-footer<- -----*/

.main-footer{
    background-color:darkgray;
    text-align: center;
    padding: 10px;
    margin:auto
}

/* Layout styles */
.home-page{
    height: 90vh;
}
.title-discription{ 
    padding: 30px;
    float: left;
    width: 50%;
}

.main-header{
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;

}

/*-- Float clearfix --*/
.clearfix:after{
    content: "";
    display: table;
    clear:both;
}

@media ( max-width:739px ) {
    .section{
        margin: 20px;
    }
    .logo-name,
    .main-nav ul,
    .main-nav ul li{
        display: block;
        float: none;
    }
    .title-discription {
        padding: 60px 30px 30px 20px;
        float: none;
        width: 100%;
    }
    .Title-Name{
        font-size: 2.5rem;
        text-align: left;
        margin-top: 125px;
        margin-bottom: 125px;
    }

    /* ----- Main styles->Introduction<- ----- */
    .container-intro{
        margin: 20px;
        height: 80vh;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 7px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
    }
    .introduction{
        text-align: center;
        padding: 0px 40px;
    }
    
    /*----- Main styles->Education<- -----*/
    .ed-usc,
    .ed-nl,
    .ed-ph{
        width: fit-content;
        margin: 10px;
    }
    .education p{
        padding: 0 50px;
    }
}

@media (max-width: 900px){
    .expPhilippines,
    .expNetherlands{
        float: none;
        width: fit-content;
    }

    .container-viewPicture{
        float: none;
    }

    .VEGP p{
        padding: 0px 10px;
    }

}

@media (min-width:740px) and ( max-width : 1020px) {
    .section{
        margin: 20px;
    }
    /* ----- Main styles->Introduction<- ----- */
        .container-intro{
        height: 60vh;
    }
    .introduction{
        text-align: center;
        padding: 0px 50px;
    } 

    /*----- Main styles->Education<- -----*/
    .ed-usc{
        float: left;
        width: 48%;
    }
    .ed-nl{
        float: right;
        width: 48%;
    }
    .ed-ph{
        width: 98%;
        height: 200px;
    }

}